# Configuration

# Mul files must be present at .config/mul directory

# Script files should also be present at .config/scripts
# If scripts directory is empty or non-existent
# default scripts will be used
# https://github.com/Sphereserver/Scripts

# If sphere.ini or sphereCrypt.ini files are present
# at .config, they will be used instead of ENV generated

CONFIG=.config/

# Shard data volume
# accounts, logs and save will be stored here
DATA=.data/

# Shard settings
SHARD_NAME=MyShard
SHARD_PORT=2593
SHARD_EMAIL=me@my.email.com
SHARD_URL=www.myshard.com

# MySQL settings
ENABLE_MYSQL=1
MYSQL_SERVER=mysql.sphere
MYSQL_DATABASE=sphere
MYSQL_USER=sphere
MYSQL_PASSWORD=sphere
